$color-coolred: #ff5b5b;
$color-coolblue: #0c1845;
$color-warmwhite: #f9f9f1;

.coolred {
    color: $color-coolred;
}

.bg-coolred {
    background-color: $color-coolred;
}

.coolblue {
    color: $color-coolblue;
}

.bg-coolblue {
    background-color: $color-coolblue;
}

.bg-warmwhite {
    background-color: $color-warmwhite;
}

.b--yellow {
    border-color: $color-coolblue;
}
