doctype
html(lang="en").no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title= title
    meta(name="theme-color", content="#001B44")
    meta(name="description" content="#{ description }")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
    link(rel='manifest', href='/site.webmanifest')
    link(rel='stylesheet', href='stylesheets/tachyons.min.css')
  body.sans-serif.bg-washed-yellow.navy
    <!--[if lt IE 8]>
    p.browsehappy
      | You are using an <strong>outdated</strong> browser.
      | Please <a href="http://browsehappy.com/">upgrade your browser</a>
      | to improve your experience.
    <![endif]-->

    main#content.w-100
        != yield

    script
        include _register-sw.js
